body{
    font-family: 'Walter Turncoat', cursive;
}
#background{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
header{
    background-color: #6EB5FF;
    color: white;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
header:hover h1{
    color: white !important;
}
.main{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.btn{
    width: 100px;
}